body {
  font-family: Arial, sans-serif;
  background: radial-gradient(
    circle,
    rgb(34 54 195),
    rgba(253, 187, 45, 1) 100%
  );
  animation: fade-in 2s;
}

.tooltip {
  position: relative;
  display: inline-block;
  animation: fade-in 2s;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 40%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(226, 255, 123) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

section:first-of-type {
  padding-bottom: 24px;
  border-bottom: 1px solid;
}

header {
  text-align: center;
}

input {
  padding: 8px 12px;
  border-color: rgb(73, 87, 194);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.6306897759103641) 0%,
    rgba(253, 205, 45, 0.6867121848739496) 68%
  );
}

.input:active {
  animation: fade-in 1s;
}

textarea {
  resize: none;
  height: 80px;
  border: 2px inset rgb(73, 87, 194);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.6306897759103641) 0%,
    rgba(253, 205, 45, 0.6867121848739496) 68%
  );
}

label {
  margin-bottom: 12px;
}

.question-box {
  border: 2px inset rgb(73, 87, 194);
  padding: 10px 5px;
  margin: 12px 0;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.6306897759103641) 0%,
    rgba(253, 205, 45, 0.6867121848739496) 68%
  );
  max-height: 500px;
  animation: fade-in 2s;
}

.question-box,
.question-buttons {
  animation: fade-in 2s;
}

.question-buttons {
  margin-bottom: 12px;
}

.no-question {
  color: rgb(208, 37, 37);
  animation: none;
}

.question {
  font-weight: bold;
}

.answer {
  margin-top: 12px;
  display: none;
  animation: fade-in 1s;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.input-wrapper-row {
  flex-direction: row;
  margin-bottom: 12px;
}

input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  display: inline-grid;
  place-content: center;
  width: 31px;
  height: 30px;
  box-shadow: 0px 1px 7px rgba(93, 56, 192, 0.4);
  border-radius: 2px;
}

input[type='checkbox']:checked {
  background-color: rgb(208, 37, 37);
}

input[type='checkbox']::before {
  content: '';
  width: 16px;
  height: 11.33px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: rgb(34 54 195);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  color: rgb(255, 255, 255);
}
button:disabled {
  opacity: 0.2;
}

.btn-sort {
  background-color: rgb(28, 73, 220);
}

.btn-remove {
  background-color: rgb(208, 37, 37);
}

.btn-submit {
  background-color: rgb(12, 138, 12);
}

@media only screen and (min-width: 800px) {
  header {
    margin-left: 15%;
    text-align: left;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  section:first-of-type {
    width: 15%;
    border-right: 1px solid;
    border-bottom: none;
  }

  section:nth-of-type(2n) {
    margin-left: 24px;
    width: 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
