body {
  font-family: Arial, sans-serif;
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 40%,
    rgba(253, 187, 45, 1) 100%
  );
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 40%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(226, 255, 123) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

section:first-of-type {
  padding-bottom: 24px;
  border-bottom: 1px solid;
}

header {
  text-align: center;
}

input {
  padding: 8px 12px;
  border-color: rgb(73, 87, 194);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.6306897759103641) 0%,
    rgba(253, 205, 45, 0.6867121848739496) 68%
  );
}

textarea {
  resize: none;
  height: 80px;
  border: 2px inset rgb(73, 87, 194);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.6306897759103641) 0%,
    rgba(253, 205, 45, 0.6867121848739496) 68%
  );
}

label {
  margin-bottom: 12px;
}

.question-box {
  border: 2px inset rgb(73, 87, 194);
  padding: 10px 5px;
  margin: 12px 0;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.6306897759103641) 0%,
    rgba(253, 205, 45, 0.6867121848739496) 68%
  );
}

.no-question {
  color: rgb(208, 37, 37);
}

.question {
  font-weight: bold;
}

.answer {
  margin-top: 12px;
  display: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  color: rgb(255, 255, 255);
}
button:disabled {
  opacity: 0.2;
}

.btn-sort {
  background-color: rgb(28, 73, 220);
}

.btn-remove {
  background-color: rgb(208, 37, 37);
}

.btn-submit {
  background-color: rgb(12, 138, 12);
}

@media only screen and (min-width: 800px) {
  header {
    margin-left: 15%;
    text-align: left;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  section:first-of-type {
    width: 15%;
    border-right: 1px solid;
    border-bottom: none;
  }

  section:nth-of-type(2n) {
    margin-left: 24px;
    width: 50%;
  }
}
